[data-component='Client']{
>.ClintContent{
  >.Client_p{
    height 70px
    font-size:20px;
    font-family:Microsoft YaHei;
    font-weight:bold;
    //color:rgba(255,255,255,1);
    line-height:70px;
  }
  .ant-list-items> .ant-list-item-no-flex{
    word-break : break-all!important;
    word-wrap: break-word!important;
  }
  #inputText{
    background-color #CED3D6
    padding 5px
    >textarea{
      height:10vh;
      overflow:auto;
      width:190px;
      border:0;
      border-radius:5px;
      background-color:#fff;
      padding: 10px;resize: none;


    }
  }
}
}