[data-component='MeetingRoom']{
  height:100%;
  display flex
  >.Room_Header{
    width 100%
    height 20%
    background-color #537ae8
  }
  >.MeetingRoom{
    #goToHome{
      background-color:#2D5DE4!important;
      color white!important
      position absolute
      top:20px;
      right 35px
      z-index 999999999
      padding 10px
      border-radius 4px
    }

    }

}