[data-component='MyId']{
  // background-color red
  height 90%
  // border: 1px solid green 
  position: relative;
  top:20px;
  overflow: auto；
  >p{
    color: #fff;
    line-height :40px;
    width: 90px;
    background-color #A0A0A0
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top:0px;
    right 0
    // background-color: red;
    z-index: 200;

    >a{
      color:#fff;
    }
  }
  >.myId_content{
  width: 95%;
  box-shadow:0px 1px 5px 0px rgba(31,32,33,0.31);
  border-radius:3px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 20px;
    >.MyAvatar_3{
      // text-align: center;
      >p{
        min-height: 100px;
        line-height: 100px;
        border-bottom: 1px solid #A0A0A0;
        width 90%
        margin: 0 auto;
        >.ant-typography{
        display: inline-block;
        width: 50%;
        }
        >.ant-typography-edit-content{
          display: inline-block;
          width: 50%;
          top:-35px;
          left:10px;
        }
        >img{
          width: 80px;
          height:80px;
          margin-top:40px;
          margin-left: 40px;
        }
        >input{
          line-height: 30px;
          border: 0;
          background-color #fafafa
          border-radius: 8px;
        }

      }
      >:last-child{
        border: 0;
      }
    }
  }
  }