[data-component='Record']{
  height :100%;
  width:100%;
  padding-bottom: 20px;
  margin-top 8%
>.record_right{
    margin:auto
    height:90%;
    width:93%;
    background-color :#fff;

    box-shadow:0px 1px 10px 0px rgba(31,32,33,0.3);
  border-radius:3px;
  >.box {
    overflow: auto;
    width: 92%;
    height: 90%;
    margin: 0 auto;
    margin-top: 1%
    padding-top:2%
    .record_title{
      font-size:24px;
      font-family:Microsoft YaHei;
      font-weight:400;
      color:rgba(53,53,53,1);
      padding-bottom 20px;
      border-bottom  1px solid #cdcdcd



    }
    .record_content{
      width 100%
      height 90%
    }
    .record_time{
      border 1px solid #89C997
      border-radius 4px
      margin-right 20px
      >.top{
        color #89C997
        padding 3px 5px
      }
      >.bottom{
        background-color #89C997
        padding 3px 5px
        color #fff
      }
    }
  }


}
  }